%h1
  Transaction no.
  %span.fixed= @transfer.id

%table.default.details
  %tr
    %th= t("activerecord.attributes.transfer.id")
    %td.fixed= @transfer.id

  %tr
    %th= t("activerecord.attributes.transfer.created_at")
    %td= l(@transfer.created_at)

  - if @transfer.is_a?(Transfer) | @transfer.is_a?(Deposit) 
    %tr
      %th= t("activerecord.attributes.transfer.state")
      %td= transfer_state(@transfer.state, :message => t(".state.#{@transfer.state}").html_safe, :icon => true)

  %tr
    %th= t("activerecord.attributes.transfer.amount")
    %td.fixed= number_to_currency(@transfer.amount, :unit => "", :precision => 8)

  %tr
    %th= t("activerecord.attributes.transfer.currency")
    %td
      = currency_icon_for(@transfer.currency)
      = @transfer.currency

  - if @transfer.bt_tx_id
    %tr
      %th= t("activerecord.attributes.transfer.bt_tx_id")
      %td.fixed= bbe_link(:tx, @transfer.bt_tx_id)

  - if @transfer.bt_tx_confirmations and @transfer.bt_tx_confirmations > 0
    %tr
      %th= t("activerecord.attributes.transfer.bt_tx_confirmations")
      %td.fixed= @transfer.bt_tx_confirmations

  - if @transfer.lr_transaction_id
    %tr
      %th= t("activerecord.attributes.transfer.lr_transaction_id")
      %td.fixed= @transfer.lr_transaction_id

  - if @transfer.px_tx_id
    %tr
      %th= t("activerecord.attributes.transfer.px_tx_id")
      %td.fixed= @transfer.px_tx_id

  - if @transfer.respond_to? :bank_account
    %tr
      %th= t("activerecord.attributes.bank_account.account_holder")
      %td.fixed= @transfer.bank_account.account_holder
    %tr
      %th= t("activerecord.attributes.bank_account.bank_name")
      %td.fixed= @transfer.bank_account.bank_name
    %tr
      %th= t("activerecord.attributes.bank_account.ag")
      %td.fixed= @transfer.bank_account.ag
    %tr
      %th= t("activerecord.attributes.bank_account.cc")
      %td.fixed= @transfer.bank_account.cc
    %tr
      %th= t("activerecord.attributes.bank_account.cnpj")
      %td.fixed= @transfer.bank_account.cnpj

  - unless @transfer.comment.blank?
    %tr
      %th= t("activerecord.attributes.transfer.comment")
      %td
        %pre= @transfer.comment
